.body {
   background-image: url('https://cdn.pixabay.com/photo/2022/10/21/08/39/cat-7536508_960_720.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   background-color: #262626;
   font-family: 'Poppins', sans-serif;
   margin: 0;
   min-height: 100vh;
}

.categories {
   max-width: 600px;
   margin: auto;
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
   list-style: none;
   justify-content: center;
   padding-top: 20px;
}

.categories li {
   background-color: #fff;
   border-radius: 40px;
   padding: 10px 20px;
   cursor: pointer;
   transition: all ease-in-out .1s;
   display: flex;
   align-items: center;
}

.categories li.active {
   background-color: #ffffffa9;
}

.categories li:hover {
   transform: scale(0.9);
}

.list-items {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 30px;
   padding: 30px;
   max-width: 1180px;
   margin: auto;
   list-style: none;
}

.list-items table td,
.list-items table th {
   padding: .5rem 1rem;
   backdrop-filter: blur(10px);
   background: rgba(0, 0, 0, 0.5);
   color: #fff;
   text-align: center;
}

.item-card {
   backdrop-filter: blur(10px);
   background: rgba(0, 0, 0, 0.5);
   width: 280px;
   height: 380px;
   display: flex;
   align-items: center;
   flex-direction: column;
   border-radius: 20px;
   color: #fff;
   padding: 20px 10px;
   gap: 5px;
   font-size: 18px;
   transition: all ease-in-out .2s;
   /* cursor: pointer; */
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.2);
}

.item-card:hover {
   transform: scale(1.02);
}

.item-card .name {
   font-size: 40px;
   text-transform: capitalize;
}

.item-card .icon {
   font-size: 80px;
   /* margin: 5px 0; */
}

.btns {
   display: flex;
   gap: 5px;
}



.btns button {
   cursor: pointer;
   padding: 7px 15px;
   background-color: #4BB543;
   border: none;
   border-radius: 40px;
   font-weight: bold;
   text-transform: capitalize;
   margin-top: 10px;
   transition: all ease-in-out .2s;
}

.btns button:hover {
   transform: scaleX(.8);
}

.btns button:disabled {
   background-color: #f06b6b;
}

.item-card .price {
   font-size: 25px;
   font-weight: bold;
}

.item-card .nothing {
   color: rgb(255, 108, 108);
   text-transform: capitalize;
   font-size: 20px;
}

.item-card .stock {
   text-transform: capitalize;
}

.container {
   display: flex;
   max-width: 1280px;
   margin: auto;
}

@media screen and (max-width: 600px) {
   .container {
      display: block;
   }
}

.store {
   width: 100%;
}

.cart {
   width: 400px;
   padding: 20px 5px;

}

.cart h2 {
   color: #fff;
}

.cart .cart-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.cart .cart-list li {
   backdrop-filter: blur(10px);
   background: rgba(0, 0, 0, 0.5);
   width: 280px;
   height: fit-content;
   display: flex;
   align-items: center;
   border-radius: 10px;
   color: #fff;
   padding: 7px 10px;
   gap: 5px;
   font-size: 18px;
   transition: all ease-in-out .2s;
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.2);
   justify-content: space-between;
}

.cart .cart-list li .icon {
   font-size: 20px;
}

.cart .cart-list li .delete {
   background-color: transparent;
   border: none;
   cursor: pointer;
   font-size: 20px;
   transition: all ease-in-out .2s;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cart .cart-list li .delete svg {
   color: #ff5656;
}

.cart .cart-list li .delete:hover {
   transform: scale(1.3);
}

.form {
   max-width: 500px;
   margin: auto;
   backdrop-filter: blur(10px);
   background: rgba(0, 0, 0, 0.5);
   height: fit-content;
   border-radius: 10px;
   color: #fff;
   transition: all ease-in-out .2s;
   box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
   border: 1px solid rgba(255, 255, 255, 0.2);
   padding: 20px;
   margin-bottom: 30px;
}

.form form {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.form form input {
   width: 100%;
   border-radius: 10px;
   padding: 5px 10px;
}