@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

/* countries */

.countryContainer {
  padding: 40px;
}

.countries-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.countryCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 0 0 1rem;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  background: #fff;
  box-shadow: 3px 3px 15px rgba(158, 158, 158, 0.4);
}

.countryCard:hover {
  box-shadow: 3px 3px 15px rgb(158, 158, 158);
}

.countryCard img {
  width: 80px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.countryCard .name {
  color: #000;
}

.countryCard p {
  overflow: hidden;
}

/* router */

.navbar {
  display: flex;
  gap: 20px;
  background-color: #262626;
  height: 60px;
  align-items: center;
  padding: 0 30px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.navbar .active {
  transform: scale(1.2);
}

.navbar .pending {
  color: blueviolet;
}

.country-display {
  width: fit-content;
  margin: 10px auto;

}

.country-display .name {
  font-size: 30px;
  font-weight: bold;
}

.country-display img {
  width: 600px;
  max-width: 100%;
  margin-top: 30px;
}